body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
}

@-webkit-keyframes my {
  0% {
      color: green;
  }
  50% {
      color: blue;
  }
  100% {
      color: white;
  }
}

@-moz-keyframes my {
  0% {
      color: red;
  }
  50% {
      color: blue;
  }
  100% {
      color: white;
  }
}

@-o-keyframes my {
  0% {
      color: red;
  }
  50% {
      color: blue;
  }
  100% {
      color: white;
  }
}

@keyframes my {
  0% {
      color: red;
  }
  15% {
      color: orange;
  }
  30% {
      color: yellow;
  }
  45% {
      color: green;
  }
  60% {
      color: blue;
  }
  75% {
      color: indigo;
  }
  100% {
      color: violet;
  }
}

.animate-text {
  font-size: 28px;
  font-weight: bold;
  animation: my 10000ms infinite;
  font-family: cursive;
}